{% load staticfiles i18n %}

<div class="container">
	<div class="logo">
		<a href="{% url 'home' %}"><img alt="Umonya logo" src="{% static 'images/logo.png' %}" /></a>
	</div>
	<div class="social">
		{% spaceless %}
		{% with prefs=preferences.GeneralPreferences %}
		{% if prefs.twitter_url %}
		<a href="{{ prefs.twitter_url }}"><img alt="Umonya on Twitter" src="{% static 'images/twitter-logo.png' %}" /></a>{% endif %}
		{% if prefs.facebook_url %}
		<a href="{{ prefs.facebook_url }}"><img alt="Umonya on Facebook" src="{% static 'images/facebook-logo.png' %}" /></a>{% endif %}
		{% if prefs.google_plus_url %}
		<a href="{{ prefs.google_plus_url }}"><img alt="Umonya on Google Plus" src="{% static 'images/google-logo.png' %}" /></a>{% endif %}
		{% endwith %}
		{% endspaceless %}
	</div>
</div>
