{% load staticfiles i18n %}

<div class="container">
	<div class="logo">
		<a href="{% url 'home' %}"><img alt="Umonya logo" src="{% static 'images/logo.png' %}" /></a>
	</div>
	<div class="social">
		<a href="http://twitter.com/projectumonya"><img alt="Umonya on Twitter" src="{% static 'images/twitter-logo.png' %}" /></a>
		<a href="http://www.facebook.com/projectumonya"><img alt="Umonya on Facebook" src="{% static 'images/facebook-logo.png' %}" /></a>
		<a href="https://plus.google.com/108023234245317429003"><img alt="Umonya on Google Plus" src="{% static 'images/google-logo.png' %}" /></a>
	</div>
</div>
