{% load i18n umonyautils %}

<div class="navbar navbar-inverse" role="navigation">
	<div class="container">
		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#nav .navbar-collapse">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	    </button>
		<div class="navbar-collapse collapse">
			<ul class="nav nav-tabs navbar-nav nav-justified">
				<li class="{% active_path_class 'home' %}"><a href="{% url 'home' %}">{% trans "Home" %}</a></li>
				{% if REGISTRATION_OPEN %}<li class="{% if REGISTRATION_FORM.get_absolute_url == request.path_info %}active{% endif %}"><a href="{{ REGISTRATION_FORM.get_absolute_url }}">{% trans "Register" %}</a></li>{% endif %}
				<li class="{% active_path_class 'about-us' %}"><a href="{% url 'about-us' %}">{% trans "About Us" %}</a></li>
				<li class="disabled"><a>{% trans "Course" %}</a></li>
				<li class="disabled"><a>{% trans "Gallery" %}</a></li>
				<li class="{% active_path_class 'contact_form' %}"><a href="{% url 'contact_form' %}">{% trans "Contact us" %}</a></li>
			</ul>
		</div>
	</div>
</div>
