{% load i18n %}

<div class="navbar navbar-default ">
	<div class="container">
		<div class="navbar-collapse collapse">
			<ul class="nav nav-justified">
				<li><a href="{% url 'home' %}">{% trans "Home" %}</a></li>
				{% if REGISTRATION_OPEN %}<li><a href="{{ REGISTRATION_FORM.get_absolute_url }}">{% trans "Register" %}</a></li>{% endif %}
				<li><a>{% trans "Course" %}</a></li>
				<li><a>{% trans "Gallery" %}</a></li>
				<li><a href="{% url 'contact_form' %}">{% trans "Contact us" %}</a></li>
			</ul>
		</div>
	</div>
</div>
