{% extends "core/base.html" %}
{% load i18n %}

{% block title %}Contact Us{% endblock %}

{% block content %}
<div class="container">
	<h1>{% trans "Contact Us" %}</h1>
	<form id="contact-form" method="post" action="{% url 'contact_form' %}">
		{{ form.non_field_errors }}
		{% csrf_token %}
		{% for field in form %}
			{% include "core/includes/field.html" %}
		{% endfor %}
		<div class="btn-group-lg"><input type="submit" value="{% trans "Submit" %}" class="btn btn-default"></div>
	</form>
</div>
{% endblock %}