html,
body {
    height: 100%;
}

/* Footer-related */
#pagewrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -128px;
}

#push,
#footer {
	height: 128px;
}

#footer p { padding: 32px 0; }
/* END Footer-related */

#header {
	padding: 40px 0 29px;
}

#content { margin-bottom: 48px; }

.dark {
	background-color: rgb(48, 48, 48);
	color: rgb(119, 119, 119);
}

.social { padding-top: 29px; }

/* Navbar */
.navbar { border-radius: 0; }
.nav li { font-size: large; text-transform: uppercase; font-weight: bold; }

/* Forms */
.field, .btn-group-lg { margin-bottom: 16px; width: 100%; }
.btn-group-lg .btn { min-width: 256px; margin: 16px auto; }
.field .help-text { font-style: italic; color: #777; font-size: small; }
form { margin: 32px auto; }
.booleanfield.form-control { width: 24px; height: 24px; margin: 5px 0; }
.input-group-addon {
	font-weight: bold;
	color: rgb(51, 51, 51);
	background-color: #fff;
	display: inline-block;
	line-height: inherit;
	width: auto;
	border: none;
}
/* Form errors */
.error { border-color: red; }
.errorlist { 
	color: red;
	font-style: italic;
	padding-left: 0;
	list-style: none;
	margin-bottom: 0;
}

@media (min-width: 768px) {
	.navbar-inverse .nav-tabs.nav-justified > li > a,
	.navbar-inverse .nav-tabs.nav-justified > .active > a { border-bottom-width: 0; }
	.social { float: right!important; height: 106px; padding-top: 50px; }
	.logo { float: left!important; }

	/* Forms */
	.field, .btn-group-lg { width: 600px; }
}
