body {
	font-family: 'lucida grande',tahoma,verdana,arial,sans-serif;
	color: black;
}

#header, #nav, #footer {
	color: white;
}

#header, #footer {
	background-color: rgb(48, 48, 48);
	padding: 32px 32px;
	text-align:center;
}

#nav {
	background-color: rgb(32, 32, 32);
}

#nav li {
	font-size: large;
}
