html,
body {
    height: 100%;
    font-family: 'Lato', Helvetica, Arial, sans-serif;
}

/* Footer-related */
#pagewrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -196px;
}

#push,
#footer {
	height: 196px;
}

#footer div p { padding: 32px 0 0 0; }
#footer div div { text-align: center; margin-top: 32px; }
#footer div div > a { padding-top: 20px; display: inline-block; height: 65px; width: 20%; vertical-align: middle;}
#footer .ponybadge { padding-top: 0; }
#footer .github img { padding: 6px 8px 7px 0;  height: 45px; width: 40px; }
/* END Footer-related */

#header {
	padding: 40px 0 29px;
}

#header, #nav, #footer {
	background: url('/static/images/header-bg.png') 0 0 repeat;
}

.logo a > img { width: 100%; }

#content { margin-bottom: 48px; }

.dark {
	background-color: rgb(48, 48, 48);
	color: rgb(119, 119, 119);
}

.social { padding-top: 29px; }

/* Navbar */
.navbar { border-radius: 0; }
.nav li,
.btn-group-lg .btn {
	font-family: 'Oswald', Helvetica, Arial, sans-serif;
	font-size: 28px;
	text-transform: uppercase;
	font-weight: bold;
}

/* Forms */
.field, .btn-group-lg { margin-bottom: 16px; width: 100%; }
.btn-group-lg .btn { min-width: 196px; margin: 16px auto; }
.field .help-text { font-style: italic; color: #777; font-size: small; }
form { margin: 32px auto; }
.booleanfield.form-control { width: 24px; height: 24px; margin: 5px 0; }
.input-group-addon {
	font-weight: bold;
	color: rgb(51, 51, 51);
	background-color: #fff;
	display: inline-block;
	line-height: inherit;
	width: auto;
	border: none;
}
/* Form errors */
.error { border-color: red; }
.errorlist { 
	color: red;
	font-style: italic;
	padding-left: 0;
	list-style: none;
	margin-bottom: 0;
}

@media (min-width: 768px) {
	.navbar-inverse .nav-tabs.nav-justified > li > a,
	.navbar-inverse .nav-tabs.nav-justified > .active > a { border-bottom-width: 0; }
	#nav .navbar-inverse {
		background: url('/static/images/header-inv.png') 0 0 repeat-x;
		height: 53px;
	}
	.social { float: right!important; height: 106px; padding: 0; }
	.logo { float: left!important; }
	.logo a > img { width: auto; }

	/* Forms */
	.field, .btn-group-lg { width: 600px; }
}
